body,
html {
    height: 99%;
    overflow: hidden;
/*
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
*/
}
.main-container{
    background-color: #ffffff;
/*    opacity:0.95;*/
}
.grayed {
    background-color: #e3e3e3;
}
.green {
    background-color: #47a447;
    color: #ffffff;
}
.set-height {
    height: 95%;
}
.scrollable {
    overflow: auto;
}
.ticket {
    height: 70%;
    width: 95%;
    background-color: #fff0d9;
    border-radius: 20px;
    border-style: dashed;
    border-width: 2px;
    padding: 20px;
}
.pointer {
    cursor: pointer;
}
.opaque {
    opacity: 0.2;
}
.ticket hr {
    border-color: #b4b4b4;
    margin-top:0px;
    margin-bottom:0px;
}
.radio-inline {
    font-size: 20px;
}
.adult {
    height: 40px;
    width: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.logo{
    height: 50px;
    width:50px;
}